.bg-index {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
                url("/static/img/background.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: scroll;
  }

.navbar a.nav-link {
    color: #FFFEF6 !important;
    font-weight: 500;
}

.bg-dark {
    background-color: #1e1e1e !important;
}

.ms-footer {
    background-color: #202020;
    color: #ccc;
}

.ms-footer p {
    color: #7F7F7F;
    font-size: 13px;
}
.ms-footer a:hover {
    color: #6ab43e;
    text-decoration: none;
}
.ms-footer-bottom span{
    font-size: 13px;
    line-height: 38px;
}
.ms-footer-bottom a {
    color: #6ab43e;
    text-decoration: none;
}
.ms-footer-bottom a:hover {
    color: #fff;
}

.masthead h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.masthead p {
    font-size: 1.2rem;
    font-weight: 300;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}
  
h4 {
    font-weight: 600;
}


